@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h4>Add a Flavor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Home", "Index", "Home", null, new{@class="btn btn-secondary"})</p>