@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h2>Edit</h2>

<h4>Edit Pastry: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Calories)
  @Html.EditorFor(model => model.Calories)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Home", "Index", "Home", new { id = Model.TreatId }, new{@class="btn btn-secondary"})</p>