@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h2>Edit</h2>

<h4>Edit Flavor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Home", "Index", "Home", new { id = Model.FlavorId }, new{@class="btn btn-secondary"})</p>